<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>

	<body>
		<container>
			<div id="intro">
				<h1>Welcome to shor.ty</h1>
				<p>Short link generator!</p>
			</div>

			<div id="bar">

				<form class="form-inline" action="/urls" method="post">
					<input id="form-bootstrap-overrides" class="form-control input-lg" type="text" placeholder="Enter your URL here" name="long_url">
					<button class="btn btn-default btn-lg sharp" type="submit" value="Submit">SUBMIT</button>
				</form>
				<p id="error"><%= @error %></p>
			</div>

			<div class="row row-centered">
			  <div class="col-md-4">
			  	<span class="glyphicon glyphicon-duplicate iconformat"></span>
			  	<p2>Copy and paste your link</p2>
			  </div>
			  <div class="col-md-4">
			    <span class="glyphicon glyphicon-hand-up iconformat"></span>
			  	<p2>Click submit</p2>
			  </div>
			  <div class="col-md-4">
			 		<span class="glyphicon glyphicon-sunglasses iconformat"></span>
			  	<p2>Share shor.ty link with friends!</p2>
			  </div>
			</div>

			<div class="recent_list">

				<p>Here are your recently shortened URLs!</p>

					<table class="table table-hover">
					  <thead>
					    <tr>
					      <th>Shor.ty</th>
					      <th>Site</th>
					      <th>Visit count</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% @urls.each do |url|%>
						    <tr>
						      <td><a href="http://s.snppt.com/<%= url.short_url%>">http://s.snppt.com/<%= url.short_url%></a></td>
						      <td><%= url.long_url%></td>
						      <td><%= url.click_count%></td>
						    </tr>
					   <%end%>
					  </tbody>
					</table>
			</div>
		</container>
	</body>
</html>
